In [2]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.constants import c
import pandas as pd
from IPython.display import display, Math

In [3]:
epsilon_r = 9.9
mi_r = 1
giga = 1e9

In [4]:
def get_cutOffFrequecies(a,b,p,epslion_r,mi_r):
    '''
    :param a: largura do guia 
    :param b: altura do guia
    :param p: numero de loops
    :param epslion_r: permissividade
    :param mi_r: permeabilidade
    :return: lista com frequencias de corte
    '''
    c_ = c/(np.sqrt(epsilon_r * mi_r))
    lista = []
    for m in range(0,p,1):
        for n in range(0,p,1):
            fc = ((c_/2)*np.sqrt( (m/a)**2 + (n/b)**2))
            lista.append((m, n, fc / giga))
    return lista

'''def get_cutOffFrequecies(a,b,p):
    lista = []
    for m in range(0,p,1):
        for n in range(0,p,1):
            fc = ((c/2)*np.sqrt( (m/a)**2 + (n/b)**2))
            lista.append((m, n, fc / giga))
    return lista'''

'def get_cutOffFrequecies(a,b,p):\n    lista = []\n    for m in range(0,p,1):\n        for n in range(0,p,1):\n            fc = ((c/2)*np.sqrt( (m/a)**2 + (n/b)**2))\n            lista.append((m, n, fc / giga))\n    return lista'

## Se $b \leq a/2$, então $f_{20} \leq f_{01}$ e as menores frequências de corte serão $f_{10}$ e $f_{20};$

## Primeiro guia retangular

In [5]:
a = 10.668e-3#10.668e-3
b = 4.318e-3#4.318e-3
epsilon_r = 1
dados = get_cutOffFrequecies(a,b,4, epsilon_r, mi_r)
df = pd.DataFrame(dados, columns=['m','n','f_c(Ghz)'])
df = df.drop_duplicates().reset_index(drop=True)
#print(df.to_string(index=False, header=['m', 'n', 'f_c(GHz)']))
df = df.sort_values(by='f_c(Ghz)').reset_index(drop=True)
df

    m  n    f_c(Ghz)
0   0  0    0.000000
1   1  0   14.051015
2   2  0   28.102030
3   0  1   34.714273
4   1  1   37.450123
5   3  0   42.153045
6   2  1   44.663238
7   3  1   54.607325
8   0  2   69.428545
9   1  2   70.836106
10  2  2   74.900247
11  3  2   81.223162
12  0  3  104.142818
13  1  3  105.086429
14  2  3  107.867746
15  3  3  112.350370

## Segundo guia retangular

In [6]:
a = 3.39e-3
b = 0.254e-3
epsilon_r = 9.9
dados = get_cutOffFrequecies(a,b,4,epsilon_r, mi_r)
df = pd.DataFrame(dados, columns=['m','n','f_c(Ghz)'])
#print(df.to_string(index=False, header=['m', 'n', 'f_c(GHz)']))
#na ordem crescente de frequencia
df = df.sort_values(by='f_c(Ghz)').reset_index(drop=True)
df = df.drop_duplicates().reset_index(drop=True)
df

    m  n    f_c(Ghz)
0   0  0    0.000000
1   1  0   14.053141
2   2  0   28.106283
3   3  0   42.159424
4   0  1  187.559641
5   1  1  188.085379
6   2  1  189.653848
7   3  1  192.239528
8   0  2  375.119282
9   1  2  375.382427
10  2  2  376.170758
11  3  2  377.480984
12  0  3  562.678924
13  1  3  562.854388
14  2  3  563.380453
15  3  3  564.256137

## Terceiro guia retangular (SIW)

In [56]:
5.237-0.8

4.437

In [11]:
epsilon_r = 9.8
a = 3.39e-3 #3.52 - 0.254
b = 0.254e-3
holes_diameter = 0.254e-3
holes_distance = 0.5e-3
W_siw = 3.52e-3
dados = get_cutOffFrequecies(a,b,4,9.9,1)
df = pd.DataFrame(dados, columns=['m','n','f_c(Ghz)'])
df = df.drop_duplicates().reset_index(drop=True)
#print(df.to_string(index=False, header=['m', 'n', 'f_c(GHz)']))
df = df.sort_values(by='f_c(Ghz)').reset_index(drop=True)
df

    m  n    f_c(Ghz)
0   0  0    0.000000
1   1  0   14.124659
2   2  0   28.249318
3   3  0   42.373977
4   0  1  188.514149
5   1  1  189.042563
6   2  1  190.619014
7   3  1  193.217852
8   0  2  377.028299
9   1  2  377.292783
10  2  2  378.085125
11  3  2  379.402019
12  0  3  565.542448
13  1  3  565.718805
14  2  3  566.247547
15  3  3  567.127688